body{
    background-color: rgb(115, 58, 107);
    color :white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Se cambia el peso de la tipografía de la letra */
    font-weight: bold;
}